@import "main.css";

/* about container */
.con-about {
    display: flex;
    justify-content: space-evenly;

    .head {
        color: var(--blue);
    }

    .sub-head {
        font-size: 3rem;
    }
}

/* === START content right === */
.con-about-photo {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
/* === END content right === */

/* === START content left === */
.con-about-content {
    border: solid;
    border-color: aqua;
    width: 40%;
}

.about-content {
    margin: 1.5rem auto;
    display: flex;

}

.left-about {
    
}

.right-about {
    
}
/* === END content left === */

/* download CV */
.about-btn {
    margin: 0;
}