@import "main.css";

/* about container */
.con-about {
    display: flex;
    justify-content: space-evenly;

    .head {
        color: var(--blue);
    }

    .sub-head {
        font-size: 3rem;
    }
}

/* === START content right === */
.con-about-photo {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
/* === END content right === */

/* === START content left === */
.con-about-content {
    width: 40%;
}

.about-content {
    margin: 1.5rem auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.left-about {
    display: grid;
    gap: 15px;
}

.right-about {
    display: grid;
    gap: 15px;
}

.about-list > h4{
    margin-bottom: 3px;
}
/* === END content left === */

/* download CV */
.about-btn {
    margin: 0;
}