
:root {
    --blue: rgb(49, 133, 252);
    --white: rgb(255, 255, 255);
    --bg-white: rgb(243, 248, 251);
    --black: rgb(0, 0, 0);
    --grey: rgba(0, 0, 0, 0.5);
    --bg-font: rgb(59 130 246 / .2);
    --font: rgb(6, 31, 80);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--bg-white);
    font-family: Arial, sans-serif;
    color: var(--font);
}

.container  {
    max-width: 1140px;
    margin: 0 auto;
    
}

/* Header */

header {
    background-color: var(--bg-white);
}

.logo {
    padding: 1rem;
    border-radius: 0.8rem;
    margin: auto .1rem;

    a {
        text-decoration: none;
        color: var(--font);
        font-weight: 600;
    }
}

.nav-con {
    display: flex;
    justify-content: space-between;
    height: 60px;
    align-items: center;

}

.menu {
    display: flex;
    list-style: none;


    li {
        padding: 1rem;
        border-radius: 0.8rem;
        margin: auto .1rem;
        
        a {
            text-decoration: none;
            color: var(--font);
        }
    }
}

/* nav animated */
.menu li:hover {
    background-color: var(--bg-font);
    cursor: pointer;
}

.logo:hover {
    background-color: var(--bg-font);
    cursor: pointer;
}


/* main */
main {
    padding: 2rem 0;
}

/* Footer */
footer {
    text-align: center;
    padding: 1.5rem;

    p {
        color: var(--black);
        opacity: 0.4;
    }
}
