
:root {
    --blue: rgb(49, 133, 252);
    --white: rgb(255, 255, 255);
    --bg-white: rgb(243, 248, 251);
    --grey: rgba(0, 0, 0, 0.5);
    --bg-font: rgb(59 130 246 / .2);
    --font: rgb(6, 31, 80);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--bg-white);
    font-family: "Inter", sans-serif;
    color: var(--font);
}

.container  {
    max-width: 1140px;
    margin: 0 auto;
    
}

/* Header */

header {
    background-color: var(--bg-white);
}

/* nav bar */
.logo {
    margin: 0 .1rem;

    a {
        padding: 1rem;
        border-radius: 0.8rem;
        text-decoration: none;
        color: var(--font);
        font-weight: 600;
    }
}

.nav-con {
    display: flex;
    justify-content: space-between;
    height: 60px;
    align-items: center;

}

.menu {
    display: flex;
    list-style: none;


    li {
        margin: auto .1rem;
        
        a {
            padding: 1rem;
            border-radius: 0.8rem;
            text-decoration: none;
            color: var(--font);
        }
    }
}

/* nav animated */
.menu li>a:hover {
    background-color: var(--bg-font);
    cursor: pointer;
}

.logo a:hover {
    background-color: var(--bg-font);
    cursor: pointer;
}

/* sidebar */
#menu-icon {
    padding: .8rem;
    border-radius: 0.8rem;
    cursor: pointer;
    z-index: 10001;
    display: none;
}

#menu-icon:hover {
    background-color: var(--bg-font);
}

@media only screen and (max-width: 600px) {
    #menu-icon {
        display: block;
        margin-right: .5rem;
    }

    .menu {
        position: absolute;
        top: 8%;
        right: -100%;
        width: 150px;
        height: 45dvh;
        background-color: var(--blue);
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        border-radius: 10px;
        transition: all .5s ease;
    }

    .menu a {
        display: block;
        margin: .5rem;
        padding: 0 .5rem;
        border-radius: 0.5rem;
        transition: all .5s ease;
    }
    .menu a:hover {
        color: white;
        transform: translateY(.2rem);
    }

    .menu.open {
        right: 2%;
    }
}


/* main */
main {
    padding: 2rem 0;
}

/* Footer */
footer {
    text-align: center;
    padding: 1.5rem;

    p {
        color: var(--font);
        opacity: 0.4;
    }
}

/* Button */
.btn {
    text-decoration: none;
    border-style: none;
    background-color: var(--blue);
    padding: .8rem;
    border-radius: 10px;
    color: var(--white);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

/* animated */
.btn:hover {
    background-color: var(--white);
    color: var(--font);
    border-style: solid;
    border-color: var(--blue);
}

.btn:focus {
    background-color: var(--blue);
}