@import "main.css";

/* grid */
.skill-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    gap: 2rem;
    margin: 0 4rem;
    justify-items: center;

    @media screen and (max-width: 768px) {
        grid-template-columns: repeat(2, 1fr);
    }
}


/* skill item */
.skill-item {
    background-color: var(--white);
    height: 150px;
    width: 150px;
    text-align: center;
    align-content: center;
}