@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --blue: rgb(49, 133, 252);
    --white: rgb(255, 255, 255);
    --bg-white: rgb(243, 248, 251);
    --grey: rgba(0, 0, 0, 0.5);
    --bg-font: rgb(59 130 246 / .2);
    --font: rgb(6, 31, 80);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--bg-white);
    font-family: "Inter", sans-serif;
    color: var(--font);
}

.container  {
    max-width: 1140px;
    margin: 0 auto;
}

/* === Header Zone === */
header {
    background-color: var(--bg-white);
}

.logo {
    margin: auto .1rem;

    a {
        padding: 1rem;
        border-radius: 0.8rem;
        text-decoration: none;
        color: var(--font);
        font-weight: 700;
    }
}

.nav-con {
    display: flex;
    justify-content: space-between;
    height: 60px;
    align-items: center;

}
/* === Header Zone === */

/* === Main Zone === */
main {
    padding: 2rem 0;
}

.titile {
    text-align: center;
    margin-bottom: 2.5rem;

    .titile-head {
        margin-bottom: 1rem;

        h1 {
            font-size: 4rem;
        }

        span {
            background: linear-gradient(120deg, rgba(7,4,71,1) 0%, rgba(9,9,134,1) 31%, rgba(8,154,255,1) 100%);
            -webkit-text-fill-color: transparent;
            background-clip: text;
        }
    }

    .titile-sub h2 {
        font-size: 2.5rem;
    }
}

/* card */
.card-container {
    margin: 0 1rem;
}

.card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
    justify-items: center;
    align-items: center;
}

.item {
    border-radius: 20px;
    transition: all .3s ease;
    background-color: var(--bg-white);
    box-shadow: 15px 15px 30px rgb(220, 231, 237),
             -15px -15px 30px var(--bg-white);
    text-decoration: none;
    color: var(--font);
    padding: 2rem 1rem;
    text-align: center;
}

.item-content {
    margin-top: .5rem;

    .item-titile {
        font-weight: 500;
        font-size: 2rem;
        margin: 0 auto;
    }
    
    .item-detail {
        margin-top: .2rem;
        font-size: 1rem;
    }
}

.item img {
    width: 150px;
    height: 150px;
}

.item:hover {
    box-shadow: 0px 0px 30px 1px rgba(49, 133, 252, 0.30);
    transition: all .3s ease;
    transform: translateY(-.3rem);
}

/* Responsive */
@media only screen and (max-width: 580px){
    .titile{
        .titile-head h1 {
            font-size: 3rem;
        }
    
        .titile-sub h2 {
            font-size: 1.5rem;
        }
    }

    .item img {
        width: 100px;
        height: 100px;
    }
}

@media only screen and (max-width: 400px){
    .titile {
        .titile-head h1 {
            font-size: 2.5rem;
        }
    
        .titile-sub h2 {
            font-size: 1rem;
        }
    }

    .item-content {

        .item-titile {
            font-size: 1.7rem;
        }

        .item-detail {
            font-size: .9rem;
        }
    }
}

/* === Main Zone === */

/* === Footer Zone === */
footer {
    text-align: center;
    padding: 1.5rem;

    p {
        color: var(--font);
        opacity: 0.4;
    }
}
/* === Footer Zone === */