@import "main.css";

.content {
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 75vh;
    display: flex;
}

.content-head {
    font-size: 2.5rem;
    margin: 0 auto;

    span {
        background: linear-gradient(130deg, rgba(7,4,71,1) 0%, rgba(9,9,134,1) 31%, rgba(8,154,255,1) 100%);
        -webkit-text-fill-color: transparent;
        background-clip: text;
    }
}

.content-detail {
    margin: .5rem auto;
    font-size: 1.3rem;
    color: var(--grey);
}

.content-btn {
    margin-top: 1.5rem;
}
